---
layout: default
---
		<div id="container">
			<div id="banner">
				<div id="banner-title">
					<span id="banner-name"><a href="index.html">Odysseus</a></span>
					<span id="banner-subtitle"><a href="index.html">piano trio</a></span>
				</div>
				<img src="assets/images/{{ page.banner_image }}" />
			</div>

			<div id="navigation">
				<ul>
					<li{% if page.title == "Home" %} class="selected"{% endif %}><a href="home.html">HOME</a></li>
					<li{% if page.title == "Players" %} class="selected"{% endif %}><a href="players.html">PLAYERS</a></li>
					<li{% if page.title == "Concerts" %} class="selected"{% endif %}><a href="concerts.html">CONCERTS</a></li>
					<li{% if page.title == "Repertoire" %} class="selected"{% endif %}><a href="repertoire.html">REPERTOIRE</a></li>
					<li{% if page.title == "Gallery" %} class="selected"{% endif %}><a href="gallery.html">GALLERY</a></li>
					<li{% if page.title == "Contact" %} class="selected"{% endif %}><a href="contact.html">CONTACT</a></li>
				</ul>
			</div>
			<div id="content">
				{{ content }}
			</div>
			<div id="footer">
				{% if page.title != "Players" %}<p>All photos &copy; Nobby Clark, unless otherwise stated.</p>{% endif %}
			</div>
		</div>

